<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href='{% static "user_profile/css/create.css" %}'>
    <link rel='stylesheet' href='{% static "user_profile/css/header.css" %}'>
</head>
<body>
    <header>
        <p id='user'><b>{{ user }}</b></p>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>