<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href='{% static "user_profile/css/create.css" %}'>
    <link rel='stylesheet' href='{% static "user_profile/css/header.css" %}'>
    <link rel='stylesheet' href='{% static "user_profile/css/profile.css" %}'>
</head>
<body>
    <header>
        <h1 id='user'><b>{{ user }}</b></h1>
        <button class="phone-menu" id="menu_button">
            <img src="{% static 'users/img/menu.png' %}" alt="chat" class="menu-phone-icon">
        </button>
    </header>
    <div class="hide-menu" id="hide_menu">
        <a href="{% url 'main' %}" class="menu">
            <img src="{% static 'users/img/main.png' %}" alt="chat" class="menu-icon">
        </a>
        <a href="{% url 'profile' user.username %}" class="menu">
            <img src="{% static 'users/img/profile.png' %}" alt="chat" class="menu-icon">
        </a>
        <a href="{% url 'index' %}" class="menu">
            <img src="{% static 'users/img/chat.png' %}" alt="chat" class="menu-icon">
        </a>
        <a href="{% url 'create_post' %}" class="menu">
            <img src="{% static 'users/img/create.png' %}" alt="chat" class="menu-icon">
        </a>
        <button class="close" id="close">X</button>
    </div>
    {% block content %}
    {% endblock %}

    <script src="{% static 'users/js/base.js' %}"></script>
</body>
</html>