{% extends 'user_profile/base.html' %}
{% load static %}

{% block title %}
    {% if title_update %}
        {{ title_update }}
    {% else %}
        Создание профиля
    {% endif %}
{% endblock %}

{% block content %}
    <div class="wrapper-create">
        <form method="post" enctype="multipart/form-data" class="form" id="form">
            {% csrf_token %}
            {{ form.errors }}
            <div class="wrapper">
                <div class='bio-ava' id="ava_div">
                    <div class="ava"><b>+</b></div>
                    {% if ava_preview %}
                        <div class="ava-div" style="display: block;"><img src="{{ ava_preview.url }}" alt="ava" class="ava-image"></div>
                    {% else %}
                        <div class="ava-div"><img src="" alt="ava" class="ava-image"></div>
                    {% endif %}
                    {{ form.ava }}
                    <input type="button" value="Удалить аву" class="delete-ava">
                    {{ form.bio }}
                </div>
                <div class="name-surname-status">
                    {% if title_update %}
                        <h1>{{ title_update }}</h1>
                    {% else %}
                         <h1>Создайте профиль</h1>
                    {% endif %}
                    {{ form.name }}
                    {{ form.surname }}
                    {{ form.status }}
                </div>
            </div>
            <div class="wrapper-phone">
                <div class="name-surname-status">
                    {% if title_update %}
                        <h1>{{ title_update }}</h1>
                    {% else %}
                         <h1>Создайте профиль</h1>
                    {% endif %}
                    {{ form.ava }}
                    <input type="button" value="Удалить аву" class="delete-ava">
                    {{ form.name }}
                    {{ form.surname }}
                </div>
                <div class='bio-ava'>
                    <div class="ava"><b>+</b></div>
                    {% if ava_preview %}
                        <div class="ava-div" style="display: block;"><img src="{{ ava_preview.url }}" alt="ava" class="ava-image"></div>
                    {% else %}
                        <div class="ava-div"><img src="" alt="ava" class="ava-image"></div>
                    {% endif %}
                    {{ form.status }}
                    {{ form.bio }}
                </div>
            </div>
            {{ form.slug }}
            <input type="button" value="Создать" class="button" id="button">
        </form>
    </div>
    <script src="{% static 'user_profile/javascript/create.js' %}"></script>
    <script src="{% static 'user_profile/javascript/update.js' %}"></script>
{% endblock %}
