{% extends 'user_profile/base.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="wrapper-profile">
        <div class="main-infa">
            {% if profile.ava %}
                <img src="{{ profile.ava.url }}" alt='ava' class="ava-profile">
            {% else %}
                <img src="/static/user_profile/img/no_avatar.jpg" alt="" class="ava-profile">
            {% endif %}
            <div class="name-profile">
                <p class='name-infa'>{{ profile.name }} {{ profile.surname }}</p>
                <p class="status-infa">{{ profile.status }}</p> 
                {% if profile.user != request.user %}
                    <button id="room_enter">Написать</button>  
                {% endif %}
            </div>
        </div>
        <article class="bio-profile"> <p>{{ profile.bio }}</p></article>

        <center class="posts" id="posts">
            {% for post in posts %}
                <img src="{{ post.image.url }}" alt="pic" class="image-view">
            {% endfor %}
        </center>

        <center class="posts-wrapper" id="posts_wrapper">
            <button class="close" id="close"><b>x</b></button>
            <center class="posts-galery">
                {% for post in posts %}
                    <img src="{{ post.image.url }}" alt="pic" class="image-view">
                {% endfor %}
            </center>
        </center>
    </div>

    <script>
        if(document.getElementById('room_enter')){
            document.getElementById('room_enter').onclick = () => {
                filterset = ['{{ profile.user }}', '{{ request.user }}'];
                filterset.sort();
                let roomName = filterset.join('_');
                window.location.pathname = '/chat/' + roomName + '/';
            }
        }
    </script> 
    <script src="{% static 'user_profile/javascript/profile.js' %}"></script>
{% endblock %}