{% extends 'chats/base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper-page-rooms">
        <aside>
            <a href="{% url 'main' %}" class="menu">
                <img src="{% static 'users/img/main.png' %}" alt="chat" class="menu-icon">
            </a>
            <a href="{% url 'profile' user.username %}" class="menu">
                <img src="{% static 'users/img/profile.png' %}" alt="chat" class="menu-icon">
            </a>
            <a href="{% url 'index' %}" class="menu">
                <img src="{% static 'users/img/chat.png' %}" alt="chat" class="menu-icon">
            </a>
            <a href="{% url 'create_post' %}" class="menu">
                <img src="{% static 'users/img/create.png' %}" alt="chat" class="menu-icon">
            </a>
        </aside>
        <center class="rooms-wrapper">
            {% for room, friend in active_rooms.items %}
                <a href="{% url 'room' room %}" class="wrapper-room">{{ friend.name }} {{ friend.surname }}</a>
            {% endfor %}
        </center>
    </div>
{% endblock %}