{% extends 'registration\base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>С возвращением!</h1>
        <form action='{% url "login" %}' method='post' class="login-form">
            {% csrf_token %}
            {{ errors }}
            {{ form.username }}
            {{ form.password }}
            <input type='submit' value='Войти' class="button">
        </form>
    <a href="{% url 'register' %}">Зарегистроваться</a>   
    </div>  
{% endblock %}