{% extends 'registration/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<center class="wrapper">
    <h1>Добро пожаловать!</h1>
    <form method='post' class="login-form">
        {% csrf_token %}
        {{ form.errors }}
        {{ errors.error }}
        {{ form.username }}
        {{ form.password1 }}
        {{ form.password2 }}
        <input type='submit' value='Зарегистрироваться' class="button">
    </form>
    <a href="{% url 'login' %}">Войти</a>
</center>  
{% endblock %}